@font-face {
  font-family: 'Visitor';
  src: url('assets/visitor1.ttf');
} 
body {
  font-family: 'Visitor';
  overflow: hidden;
  background-color:#daefff;
}
#canvas {
  /* border: 7px solid black; */
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

li {
  font-size:1.2rem;
  text-align:left;
}
.col-4 {
  color:black;
  padding: 1% 4%;
  border-left:6px solid black;
  height:100vh;
  text-align:center
  }


/* Chronometer styles */



#sphere {
  border: 10px solid #000;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 70px;
  height: auto;
  margin: 0 auto;
  padding: 35px 0;
  position: relative;
  text-align: center;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splits-container {
  font-size: 20px;
  font-weight: 100;
  position: absolute;
  left: 50px;
}

#milliseconds {
  font-size: 36px;
  position: absolute;
  top: 20px;
}
